{% extends 'base_dashboard.html' %}

{% block dashboard_content %}
<style>
    .custom_input{
        background-color: #1f2229;
        border: none;
        border-bottom: solid 1px white;
        color: white;
        width: 100%;
        font-size: large;
    }
    .side_line{
    border-left: solid #0071e3; 
    padding-left: 10px;
    
}
span{
    position: absolute;
    right: 15px;
    transform: translate(0,-50%);
    top: 80%;
    cursor: pointer;
}
.fa{
    font-size: 20px;
    color: #7a797e;
}
</style>
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-3">
        <div class="act-title">
            <h5 class="side_line">Change Your Password</h5>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-100">
        <div class="form-group">
            
            <div id="description" class="list-details-section">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Old Password</label><br>
                        <input class="custom_input" type="password" name="old_password" id="id_old_password" required="True"><br><br>
                        <!-- <span>
                            <i class="fa fa-eye" id="eye" onclick="toggle()">
                            </i>
                        </span> -->
                    </div>
                    <div class="form-group">
                        <label>New Password</label><br>
                        <input class="custom_input" type="password" name="new_password1" id="id_new_password1" required="True"><br><br>
                        <!-- <span>
                            <i class="fa fa-eye" id="eye" onclick="toggle()">
                            </i>
                        </span> -->
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label><br>
                        <input class="custom_input" type="password" name="new_password2" id="id_new_password2" required="True"><br><br>
                        <!-- <span>
                            <i class="fa fa-eye" id="eye" onclick="toggle()">
                            </i>
                        </span> -->
                    </div>

                    {% for field in form %}
                        {% for error in field.errors %}
                            <p style="color: red;">{{error}}</p>
                        {% endfor %}
                    {% endfor %}
                    <br>
                    <button class="btn v1" type="submit">Change Password</button>
                </form>
            </div>
            <!-- <br><br>
            <ul>
                <li>password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul> -->
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endif %}

{% endblock %}
