{% extends "base_account.html" %}
{% block title %}Password reset{% endblock %}
{% block account_content %}
<div class="error-section mt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3  error-text text-center">
                <div class="error-content">
                    
                </div>
                <div class="error-search-container">
                    <div class="card text-light" style="background-color: #1f2229;">
                        <div class="card-body">
                            <h4>Password set</h4>
                            {{email_msg}}
                            <hr />
                            <div class="row">
                                <!-- <div class="col-md-2"></div> -->
                                <div class="col-md-12 custom_fount">
                                    <p>Your password has been set. You can <a href="{% url 'login' %}">log in now</a></p>
                                </div>
                                <!-- <div class="col-md-2"></div> -->
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}