{% extends 'base_account.html' %}
{% block title %}Reset your password{% endblock %}
{% block account_content %}

<div class="error-section mt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3  error-text text-center">
                <div class="error-content">
                    
                </div>
                <div class="error-search-container">
                    <div class="card text-light" style="background-color: #1f2229;">
                        <div class="card-body">
                            <h4>Forgotten your password?</h4>
                            {{email_msg}}
                            <hr />
                            <p>Enter your e-mail address to obtain a new password</p>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    
                                    <form action="." method="post">{% csrf_token %}
                                        <div class="form-group">
                                            <!-- <label for="id_email">Email</label> -->
                                            <input class="custom_input" type="email" name="email" autocomplete="email"
                                                maxlength="254" required="" id="id_email">
                                        </div>

                                        <input class="btn v1" type="submit" value="Send e-mail">

                                    </form>
                                </div>
                                <div class="col-md-2"></div>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}